/* ui/css/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body { background-color: #f3f4f6; font-family: sans-serif; }
.sidebar { background-color: #0f172a; color: white; min-height: 100vh; }